// FONTS
@font-face {
  font-family: verlagBlack;
  src: url(../_assets/font/Verlag-Black.woff);
}

@font-face {
  font-family: verlagBook;
  src: url(../_assets/font/Verlag-Book.woff);
}

@font-face {
  font-family: verlagLight;
  src: url(../_assets/font/Verlag-Light.woff);
}

//** MEDIA QUERIES **

@mixin for-small-phone {
  @media (max-width: 359px) {
    @content;
  }
}
@mixin for-small-phone-landscape {
  @media (max-height: 359px) and (orientation: landscape) {
    @content;
  }
}
@mixin for-phone {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin for-phone-landscape {
  @media screen and (orientation: landscape) and (max-width: 823px) and (max-height: 600px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 767px) and (max-width: 1026px) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    @content;
  }
}
@mixin for-touch {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin for-desktop-only {
  @media (min-width: 1025px) and (max-width: 1215px) {
    @content;
  }
}
@mixin for-widescreen {
  @media (min-width: 1216px) {
    @content;
  }
}
@mixin for-fullhd {
  @media (min-width: 1408px) {
    @content;
  }
}
@mixin for-ultrahd {
  @media (min-width: 2500px) {
    @content;
  }
}
//** VARIABLES **

$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors
$yelloww: #fcdb0e;
$blackinput: #222121;
$errorred: #ff0000;

//font-family
$family-primary: verlagBlack, cursive;
$family-secondary: verlagBook, cursive;
$family-tertiary: verlagLight, cursive;

//font-size
$is-size-1: 26px;
$is-size-2: 22px;
$is-size-3: 18px;
$is-size-4: 16px;
$is-size-5: 14px;
$is-size-6: 12px;
